# ==========================================
# 1. Go Specifics
# ==========================================
bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Other Test artifacts
*.out

# Dependency directories (we use go modules, so we don't commit vendor)
vendor/

# ==========================================
# 2. Windows Specifics
# ==========================================
# WWindows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# ==========================================
# 3. IDEs and Editors
# ==========================================
.vscode/
.idea/
*.swp
*~

# ==========================================
# 4. Distributed File System Specifics
# ==========================================
# Ignore the NameNode's local memory state file
namespace.json

# Ignore the DataNodes' local hard drives
data/
